.section {
	padding: 0;
	box-shadow: 0 0 5px rgb(221, 221, 221);
	margin-bottom: 10px;
}

.section__header {
	background-color: rgb(255, 255, 255);
	padding: 15px;
	margin: 0;
	border-bottom: 1px solid rgb(235, 235, 235);
	font-size: 19px;
	font-weight: 900;
	display: grid;
	grid-template-columns: 1fr auto;
}

@media (max-width: 767px) {
	.section__header {
		grid-template-columns: 1fr;
		grid-gap: 10px;
		align-items: center;
		justify-content: center;
	}
}

.section__headerTitle {
	margin: 0;
	font-size: 19px;
	font-weight: 900;
}

.section__filterButtonsContainer {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	grid-gap: 20px;
}

@media (max-width: 767px) {
	.section__filterButtonsContainer {
		grid-template-columns: 1fr;
		grid-gap: 15px;
		margin-top: 10px;
	}
}

.section__filterButton {
	background: none;
	border: none;
	padding: 5px;
	margin: 0;
	font-size: 16px;
	font-weight: 300;
}

.section__filterButton:hover {
	color: hsl(192, 27%, 50%);
}

.section__filterButton:active {
	color: peru;
}

.section__filterButton:disabled {
	color: hsl(192, 27%, 78%);
}

.section__content {
	background-color: rgb(255, 255, 255);
	padding: 15px;
}