.tasksList {
	list-style-type: none;
	padding: 0;
	margin: 15px 0 10px;
	width: 100%;
}

.tasksList__item {
	text-decoration: none;
	border-bottom: 1px solid rgb(236, 236, 236);
	padding: 5px;
	width: 100%;
	display: grid;
	grid-template-columns: 30px 1fr 30px;
	align-items: center;
}

.tasksList__itemContent {
	text-decoration: none;
	margin: 10px;
}

.tasksList__itemContent--done {
	text-decoration: line-through;
	margin: 10px;
}

.tasksList__button {
	color: #fff;
	background-color: hsl(120, 100%, 25%);
	border: none;
	width: 28px;
	height: 28px;
}

.tasksList__button:hover {
	background-color: hsl(120, 100%, 28%);
}

.tasksList__button:active {
	background-color: hsl(120, 100%, 33%);
}

.tasksList__button--remove {
	color: #fff;
	background-color: red;
	border: none;
	width: 28px;
	height: 28px;
	justify-self: end;
}

.tasksList__button--remove:hover {
	background-color: hsl(0, 100%, 60%);
}

.tasksList__button--remove:active {
	background-color: hsl(0, 100%, 70%);
}

.tasksList__removeIcon {
	width: 14px;
	height: 14px;
}